<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Create Student</title>
</head>

<body>
    <h1>Create New Student</h1>
    <form th:action="@{/students}" th:object="${student}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <br>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <br>
        <div>
            <label for="course">Course:</label>
            <input type="text" id="course" th:field="*{course}" required>
        </div>
        <br>
        <button type="submit">Save Student</button>
        <a th:href="@{/students}">Cancel</a>
    </form>
</body>

</html>